<html lang="en">
<%- include("./parciales/cabecera.ejs") %>
  <script>

    document.addEventListener("DOMContentLoaded", function (event) {

      document.querySelectorAll(".btnAct").forEach(btnAct => btnAct.addEventListener("click", (e) => {
        e.preventDefault();
        const fila = e.target.parentElement.parentElement.parentElement;
        const filaArray = [...fila.children];
        filaArray.pop();
        const categoria = {};
        const id = fila.dataset.id;
        filaArray.forEach((celda) => {
          celda.dataset.name == "modalidadId" ?
            categoria[celda.dataset.name] = celda.children[0].value :
            categoria[celda.dataset.name] = celda.innerText;
        })
        console.log(categoria);
        fetch(`/categorias/editar-categoria/${id}`, {
          method: 'PUT',
          body: new URLSearchParams(categoria)
        }).then((response) => {
          if (response.ok) {
            location.reload();
          }
        }).catch((error) => alert(error))
      }));

      document.querySelectorAll(".btnEli").forEach(btnEli => btnEli.addEventListener("click", (e) => {
        var fila = e.target.parentElement.parentElement.parentElement;
        var filaArray = [...fila.children];
        const id = fila.dataset.id;
        console.log(id);
        fetch(`/categorias/eliminar-categoria/`, {
          method: 'DELETE',
          body: new URLSearchParams({categoriaId: id})
        }).then((response) => {
          console.log(response)
          if (response.ok) {
            location.reload();
          }
        }).catch((error) => alert(error))
      }));

      document.getElementById("nuevaCategoria").addEventListener("click", (e) => {
        e.preventDefault();
        const fila = e.target.parentElement.parentElement;
        const filaArray = [...fila.children];
        filaArray.pop();
        const categoria = {};
        const id = fila.dataset.id;
        filaArray.forEach((celda) => {
          celda.dataset.name == "modalidadId" ?
            categoria[celda.dataset.name] = celda.children[0].value :
            categoria[celda.dataset.name] = celda.innerText;
        })
        console.log(categoria)
        fetch(`/categorias/ingresar-categoria/`, {
          method: 'POST',
          body: new URLSearchParams(categoria) //TODO Checkear por alternativas
        }).then((response) => {
          if (response.ok) {
            location.reload();
          }
        }).catch((error) => alert(error))
      });

    })



  </script>

  <body>
    <%- include("./parciales/barra.ejs") %>
      <table style="width: 100%; table-layout:fixed; overflow-wrap:break-word">
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Modalidad</th>
          <th>Operaciones</th>
        </tr>

        <% categorias.forEach(categoria=> { %>
          <tr data-id="<%= categoria.id %>">
            <td data-name="idNew" contenteditable>
              <%= categoria.id %>
            </td>
            <td data-name="nombre" contenteditable>
              <%= categoria.nombre %>
            </td>
            <td data-name="modalidadId">
              <select name="modalidad" id="modalidad">
                <% if(!modalidades.some(mod=>mod.id == categoria.Modalidad.id)) { %>
                  <option value="0" disabled selected hidden>Seleccione una modalidad</option>
                  <% } %>
                    <% modalidades.forEach(modalidad=>{ %>
                      <option value="<%= modalidad.id %>" <%=modalidad.id==categoria.Modalidad.id ? "selected" : "" %> >
                        <%= modalidad.nombre %>
                      </option>
                      <% }) %>
              </select>
            </td>
            <td>
              <div class="d-flex flex-row justify-content-around align-items-center">
                <button class="btnAct">Actualizar</button>
                <button class="btnEli">Eliminar</button>
              </div>
            </td>
          </tr>
          <% }) %>

            <tr data-id="<%= categorias.length + 1 %>">
              <td>
              </td>
              <td data-name="nombre" contenteditable></td>
              <td data-name="modalidadId">
                <select name="modalidadIdNuevo" id="modalidadIdNuevo">
                  <option value="0" disabled selected hidden>Seleccione una modalidad</option>
                  <% modalidades.forEach(modalidad=>{ %>
                    <option value="<%= modalidad.id %>">
                      <%= modalidad.nombre %>
                    </option>
                    <% }) %>
                </select>
              </td>
              <td><button id="nuevaCategoria">Nueva Categoria</button></td>
            </tr>

      </table>

      <%- include("./parciales/fondo.ejs") %>
  </body>

</html>