<html lang="en">
<%- include("./parciales/cabecera.ejs") %>
  <script>

    document.addEventListener("DOMContentLoaded", function (event) {

      document.querySelectorAll(".btnActInt").forEach(btnAct => btnAct.addEventListener("click", (e) => {
        e.preventDefault();
        const fila = e.target.parentElement.parentElement.parentElement;
        const filaArray = [...fila.children];
        filaArray.pop();
        const integrante = {};
        const id = fila.dataset.id;
        integrante.equipoId = fila.dataset.equipoid
        filaArray.forEach((celda) => {
          integrante[celda.dataset.name] = celda.innerText;
        })
        console.log(integrante);
        fetch(`/equipos/editar-integrante/${id}`, {
          method: 'PUT',
          body: new URLSearchParams(integrante)
        }).then((response) => {
          if (response.ok) {
            location.reload();
          }
        }).catch((error) => alert(error))
      }));

      document.querySelectorAll(".btnEliInt").forEach(btnEli => btnEli.addEventListener("click", (e) => {
        var fila = e.target.parentElement.parentElement.parentElement;
        var filaArray = [...fila.children];
        const cedula = fila.dataset.cedula;
        const equipoId = fila.dataset.equipoid;
        console.log(cedula, equipoId)
        fetch(`/equipos/eliminar-integrante-equipo/`, {
          method: 'DELETE',
          body: new URLSearchParams({cedula, equipoId})
        }).then((response) => {
          console.log(response)
          if (response.ok) {
            location.reload();
          }
        }).catch((error) => alert(error))
      }));

      document.getElementById("nuevoIntegrante").addEventListener("click", (e) => {
        e.preventDefault();
        const fila = e.target.parentElement.parentElement;
        const filaArray = [...fila.children];
        filaArray.pop();
        const integrante = {};
        const id = fila.dataset.id;
        integrante.equipoId = fila.dataset.equipoid;
        filaArray.forEach((celda) => {
          integrante[celda.dataset.name] = celda.innerText;
        })
        console.log(integrante)
        fetch(`/equipos/ingresar-integrante/`, {
          method: 'POST',
          body: new URLSearchParams(integrante)
        }).then((response) => {
          if (response.ok) {
            location.reload();
          }
        }).catch((error) => alert(error))
      });

      document.querySelectorAll(".btnEliCat").forEach(btnEli => btnEli.addEventListener("click", (e) => {
        var fila = e.target.parentElement.parentElement.parentElement;
        const catId = fila.dataset.id;
        const eqId = fila.dataset.equipoid;
        fetch(`/equipos/eliminar-categoria/`, {
          method: 'DELETE',
          body: new URLSearchParams({catId, eqId})
        }).then((response) => {
          console.log(response)
          if (response.ok) {
            location.reload();
          }
        }).catch((error) => alert(error))
      }));

      document.getElementById("nuevaCategoria").addEventListener("click", (e) => {
        e.preventDefault();
        const fila = e.target.parentElement.parentElement;
        const filaArray = [...fila.children];
        filaArray.pop();
        const categoria = {};
        categoria.id = fila.dataset.id;
        categoria.equipoId = fila.dataset.equipoid;
        filaArray.forEach((celda) => {
          celda.dataset.name == "categoriaId" ?
            categoria[celda.dataset.name] = celda.children[0].value :
            categoria[celda.dataset.name] = celda.innerText;
        })
        console.log(categoria)
        fetch(`/equipos/ingresar-categoria/`, {
          method: 'POST',
          body: new URLSearchParams(categoria)
        }).then((response) => {
          if (response.ok) {
            location.reload();
          }
        }).catch((error) => alert(error))
      });

    })



  </script>

  <body>
    <%- include("./parciales/barra.ejs") %>
      <h1>Gestion del equipo: <%= equipo.nombre %>
      </h1>
      <h2>Gestion de Integrantes</h2>
      <table style="width: 100%; table-layout:fixed; overflow-wrap:break-word">
        <tr>
          <th>Cedula</th>
          <th>Nombre</th>
          <th>Operaciones</th>
        </tr>

        <% equipo.Integrantes.forEach(integrante=> { %>
          <tr data-cedula="<%= integrante.cedula %>" data-equipoid="<%= equipo.id %>">
            <td data-name="cedula" contenteditable>
              <%= integrante.cedula %>
            </td>
            <td data-name="nombre" contenteditable>
              <%= integrante.nombre %>
            </td>
            <td>
              <div class="d-flex flex-row justify-content-around align-items-center">
                <button class="btnActInt">Actualizar</button>
                <button class="btnEliInt">Eliminar</button>
              </div>
            </td>
          </tr>
          <% }) %>

            <tr data-cedula="<%= equipo.Integrantes.length + 1 %>" data-equipoid="<%= equipo.id %>">
              <td data-name="cedula" contenteditable>
              </td>
              <td data-name="nombre" contenteditable></td>
              <td><button id="nuevoIntegrante">Nuevo Integrante</button></td>
            </tr>

      </table>


      <h2>Gestion de Categorias Inscritas</h2>
      <table style="width: 100%; table-layout:fixed; overflow-wrap:break-word">
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Operaciones</th>
        </tr>

        <% equipo.Categoria.forEach(categoria=> { %>
          <tr data-id="<%= categoria.id %>" data-equipoid="<%= equipo.id %>">
            <td data-name="idNew" contenteditable>
              <%= categoria.id %>
            </td>
            <td data-name="nombre" contenteditable>
              <%= categoria.nombre %>
            </td>
            <td>
              <div class="d-flex flex-row justify-content-around align-items-center">
                <button class="btnEliCat">Eliminar</button>
              </div>
            </td>
          </tr>
          <% }) %>

            <tr data-id="<%= equipo.Integrantes.length + 1 %>" data-equipoid="<%= equipo.id %>">
              <td>
              </td>
              <td data-name="categoriaId">
                <select name="categoria" id="categoriaIdNuevo">
                  <option value="0" disabled selected hidden>Seleccione una Categoria</option>
                  <%# (categorias.filter(cat=>equipo.Categoria.some(eqCat=>cat.id == eqCat.id))).forEach(categoria=>{%>
                    <% categorias.forEach(categoria=>{%>
                      <option value="<%= categoria.id %>">
                        <%= categoria.nombre %>
                      </option>
                      <% }) %>
                </select>
              </td>
              <td><button id="nuevaCategoria">Inscribir Categoria</button></td>
            </tr>

      </table>

      <%- include("./parciales/fondo.ejs") %>
  </body>

</html>